<footer>


    <div class="logo">
        <img src="/imgs/logo.png">
    </div>


    <div class="firstIcons">
        <ul>
            <li><i class="fa-solid fa-phone"></i>@Phone</li>
            <li><i class="fa-solid fa-envelope"></i>@Email</li>
            <li><i class="fa-solid fa-location-dot"></i>@Location</li>
        </ul>
    </div>

    <div class="line">
        <hr>
    </div>

    <div class="secandIcons">

        <div class="pages">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Event</a></li>
                <li><a href="#">Research</a></li>
                <li><a href="#">Project</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
        </div>


        <div class="sosialIcons">
            <ul>
                <li><a href="#"><i class="fa-brands fa-square-facebook"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-square-x-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            </ul>
        </div>


        <div class="copyright">

            <p>copyright © 2023 - LINFI laboratory</p>

        </div>

    </div>



</footer>